parameters:
    level: 7

    paths:
        - src
        - tests

    excludePaths:
        - .phpstan
        - .phpstan/cache (?)
        - var/cache (?)
        - vendor

    tmpDir: .phpstan

    treatPhpDocTypesAsCertain: true

    inferPrivatePropertyTypeFromConstructor: true

    reportUnmatchedIgnoredErrors: true